fastapi
uvicorn
pydantic
python-multipart
torch
transformers
safetensors
pandas
matplotlib
reportlab
scikit-learn
google-generativeai
python-dotenv
requests
accelerate
ollama
pytesseract==0.3.10
Pillow==10.4.0
